<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-Hant-TW" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/" xmlns:wb="http://open.weibo.com/wb">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="Richart和你一起助養浪浪" />
	<meta name="description" property="og:description" content="從收容所救援出來的浪浪們，離幸福還有多遠？無法被領養的他們，也可以快樂嗎？" />
	<meta name="title" content="Richart和你一起助養浪浪" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no , minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta property="fb:app_id" content="1783545831931137" />
	<meta property="og:title" content="Richart和你一起助養浪浪" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://richart-friend.sugarfun.com.tw/" />
	<meta property="og:image" content="http://richart-friend.sugarfun.com.tw/Content/img/shared/FB.png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="474">
	<meta property="og:image:height" content="246"
	<meta property="og:site_name" content="Richart和你一起助養浪浪" />
	<title>Richart和你一起助養浪浪</title>
	<link rel="canonical" href="http://richart-friend.sugarfun.com.tw/" />
	<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/img/shared/favicon.ico")">
	<link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")?JS=20160420_01">
	<script type="text/javascript" defer src="@Url.Content("~/Scripts/plugin/svgxuse/svgxuse.min.js")?JS=20160216_01"></script>
	<!-- Facebook Pixel Code -->
	<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '993310334093143');fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=993310334093143&ev=PageView&noscript=1"/></noscript>
	<!-- End Facebook Pixel Code -->
	<script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10000148'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
	<script src="//jscdn.appier.net/js/appier-track-v1.7.js"></script>
	<script>Appier.appierPVTrack("U2KU7NKffW8S1Kv",0,"false","50h8p1EK9t9mAhd");</script>
	<script>(function(){if (typeof window.APPIER_RETARGET == 'undefined') {(function(w, d, s, m) {var f = d.getElementsByTagName('script')[0],j = d.createElement('script'),ns = 'APPIER_RETARGET';w._appierSendQueue = w._appierSendQueue || [];w['appierRetargetJson'] = { id: s, site: m};j.async = true;j.src = '//jscdn.appier.net/aa.js?id='+m;f.parentNode.insertBefore(j, f);!w[ns] && (w[ns] = {});(!w[ns].send) && (w[ns].send = function(j){w._appierSendQueue.push(j);});})(window, document,'JiOf','sugarfun.com.tw');}})();</script>
	@RenderSection("header",false)
</head>
<body style="display: none;">
	<header class="l-header b-clearfix">
		<h1 class="logo">
			<a href="http://richart.tw/" class="b-link b-hide-text richart ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="richart_logo">
				<em>Richart</em>
			</a>
		</h1>
		<h2 class="slogan"><a href="http://richart-friend.sugarfun.com.tw/" class="b-link b-hide-text">擁抱生命擁抱愛，一起助養浪浪</a></h2>
		<nav class="m-nav">
			<button class="btn-menu b-dt-hide jq-menu">
				<em class="text"></em>
			</button>
			<ul class="m-nav-menu">
				<li class="list">
					<a href="donate" class="b-link foot-print ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="help">
						<svg class="svg-icon"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?SVG=20160420_01#foot-print"/></svg>
						<em class="text">我要幫助浪浪</em>
					</a>
				</li>
				<li class="list">
					<a href="/" class="b-link index ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="index">
						<svg class="svg-icon"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?SVG=20160420_01#index"/></svg>
						<em class="text b-dt-hide">首頁</em>
					</a>
				</li>
				<li class="list">
					<button class="b-link facebook jq-share ga_click_trace" ga_cat="Nav" ga_event="click" ga_label="facbook">
						<svg class="svg-icon"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?SVG=20160420_01#facebook"/></svg>
						<em class="text b-dt-hide">Facebook 分享</em>
					</button>
				</li>
				<li class="list b-md-hide">
					<a href="http://line.naver.jp/R/msg/text/?今天的你或許吃飽了，但是他，還在等著。伸手幫助浪浪：http://richart-friend.sugarfun.com.tw/?utm_source=line" class="b-link line ga_click_trace" target="_blank" ga_cat="Nav" ga_event="click" ga_label="line">
						<svg class="svg-icon"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?SVG=20160420_01#line"/></svg>
						<em class="text b-dt-hide">Line 分享</em>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	@RenderBody()
	<footer class="l-footer">
		<p class="copyright">©台新國際商業銀行 <br class="b-dt-hide">Copyright Taishin International Bank. <span class="b-m-block">All Rights Reserved.</span></p>
	</footer>
</body>
<script src="@Url.Content("~/Scripts/plugin/jquery/jquery.min.js")?JS=20160216_01"></script>
<script defer src="@Url.Content("~/Scripts/plugin/owl.carousel/owl.carousel.min.js")?JS=20160216_01"></script>
<script defer src="@Url.Content("~/Scripts/plugin/preload/jquery.preload.min.js")?JS=20160216_01"></script>
<script defer src="@Url.Content("~/Scripts/js/ga.js")?JS=20160216_01" id="gaScript" data-id="UA-72250086-18"></script>
<script defer src="@Url.Content("~/Scripts/js/factory.min.js")?JS=20160216_01"></script>
<script defer src="@Url.Content("~/Scripts/js/common.min.js")?JS=20160216_01"></script>
@RenderSection("scripts",false)
</html>