@{
    Layout       = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Full = false;
    ViewBag.Curr = "activity";
}
@section header{ 
    <link rel="stylesheet" href="@Url.Content("~/Content/css/activities.css")?CSS=20170913_05">
}
    <div class="l-main jQ-main is-full">
        <main class="l-content jQ-content">
            <div class="activities">
                <header class="activities-hd b-bg-yellow">
                    <h2 class="page-title">
                        <em class="b-hide-text">毛孩告急！救援浪浪 不再忽視</em>
                        <svg class="svg-icon sos"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#sos"/></svg>
                        <svg class="svg-icon title-main"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#title-main"/></svg>
                        <svg class="svg-icon title-sub"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#title-sub"/></svg>
                    </h2>
                    <div class="activities-icon">
                        <svg class="svg-icon eventinfo-dog-1"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#eventinfo-dog-1"/></svg>
                        <svg class="svg-icon eventinfo-dog-2"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#eventinfo-dog-2"/></svg>
                        <svg class="svg-icon eventinfo-cat"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#eventinfo-cat"/></svg>
                        <svg class="svg-icon eventinfo-dog-3"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#eventinfo-dog-3"/></svg>
                    </div>
                    <div class="activities-icon-bg">
                        <div class="activities-icon-frame">
                            <svg class="svg-icon cloud is-light is-one"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#cloud"/></svg>
                            <svg class="svg-icon cloud is-dark is-two"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#cloud"/></svg>
                            <svg class="svg-icon cloud is-light is-three"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#cloud"/></svg>
                            <svg class="svg-icon cloud is-dark is-four"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#cloud"/></svg>
                            <svg class="svg-icon cloud is-light is-five"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#cloud"/></svg>
                            <svg class="svg-icon bird is-first"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bird"/></svg>
                            <svg class="svg-icon bird is-last"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bird"/></svg>
                        </div>
                        <div class="mountain-range">
                            <svg class="svg-icon mountain is-front"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#mountain"/></svg>
                            <svg class="svg-icon mountain is-back"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#mountain"/></svg>
                            <svg class="svg-icon mountain is-front"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#mountain"/></svg>
                            <svg class="svg-icon mountain is-back"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#mountain"/></svg>
                        </div>
                    </div>
                </header>
                <div class="activities-bd">
                    <h3 class="content-title b-text-center b-text-yellow-dark b-bold">
                        <em class="text">活動辦法</em>
                        <svg class="svg-icon arrow-down"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#arrow-down"/></svg>
                    </h3>
                    <p class="proposal b-bold">2017年Richart毛孩告急！救援浪浪　不再忽視<br>邀請你一起協助社團法人臺灣巴克動物懷善救援協會的救援行動，<br class="b-hide-xs">還有機會獲得限量愛心寵物毯、寵物碗！</p>
                    <div class="flex-wrap">
                        <ul class="gift-list">
                            <li class="list">
                                <div class="img-wrap b-bg-yellow-dark b-middle b-inline">
                                    <figure class="gift-figure blanket">
                                        <img src="@Url.Content("~/Content/img/activities/blanket.png")?img=20170907" alt="寵物毯">
                                    </figure>
                                </div>
                                <em class="text b-text-ocean b-bold">寵物毯</em>
                            </li>
                            <li class="list">
                                <div class="img-wrap b-bg-yellow-dark b-middle b-inline">
                                    <figure class="gift-figure bowl">
                                        <img src="@Url.Content("~/Content/img/activities/bowl.png")?img=20170907" alt="寵物碗">
                                    </figure>
                                </div>
                                <em class="text b-text-ocean b-bold">寵物碗</em>
                            </li>
                        </ul>
                        <div class="activities-content">
                            <h4 class="info-title">
                                <svg class="svg-icon bone"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bone"/></svg>
                                <em class="text b-bold">活動名稱</em>
                            </h4>
                            <p class="b-desc">2017年Richart毛孩告急！救援浪浪　不再忽視<br class="b-hide-md b-hide-i5">(以下簡稱本活動)。</p>
                            <h4 class="info-title">
                                <svg class="svg-icon bone"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bone"/></svg>
                                <em class="text b-bold">活動期間</em>
                            </h4>
                            <p class="b-desc">2017/9/14 (四) - 2017/11/30 (四)。</p>
                            <h4 class="info-title">
                                <svg class="svg-icon bone"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bone"/></svg>
                                <em class="text b-bold">活動對象</em>
                            </h4>
                            <p class="b-desc">年滿20歲之本國自然人<br >（以下簡稱參加者）。</p>
                        </div>
                    </div>
                    <div class="activities-content">
                        <h4 class="info-title">
                            <svg class="svg-icon bone"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bone"/></svg>
                            <em class="text b-bold">活動說明</em>
                        </h4>
                        <p class="b-desc">活動期間內，參加者透過Richart APP完成以下方案，並於本活動網站成功登錄身分證字號及手機號碼，台新銀行將贊助社團法人臺灣巴克動物懷善救援協會購買飼料之費用，每月再送愛心寵物毯及寵物碗(每月各100名)：</p>
                        <p class="b-desc"><span class="tag b-text-white b-bg-ocean b-bold b-inline">Richart新朋友方案</span>尚未申辦Richart數位銀行活期儲蓄存款帳戶(以下簡稱Richart數位活儲帳戶)之參加者，成功完成註冊Richart數位活儲帳戶並登入使用Richart APP後，台新銀行將就每位參加者<strong class="highlight">贊助社團法人臺灣巴克動物懷善救援協會NT$500，參加者還有機會獲得限量愛心寵物毯或寵物碗。</strong></p>
                        <p class="b-desc"><span class="tag b-text-white b-bg-ocean b-bold b-inline">Richart好朋友方案</span>已申辦Richart數位活儲帳戶之參加者，在Richart APP使用「轉帳」功能成功完成跨行轉出交易(不限金額)，台新銀行將就<strong class="highlight">每筆轉帳交易贊助社團法人臺灣巴克動物懷善救援協會NT$5</strong>，還有機會獲得限量愛心寵物毯或寵物碗。</p>
                        <h4 class="info-title">
                            <svg class="svg-icon bone"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bone"/></svg>
                            <em class="text b-bold">中獎公告、通知與獎品寄送</em>
                        </h4>
                        <ol class="order-list">
                            <li class="list">(1) 本活動將於2017年10月20日、11月17日及12月15日進行抽獎，每月抽出愛心寵物毯與寵物碗各100名中獎者，公告在Richart官網最新消息之重要公告，並將於抽獎翌日起5日內以E-mail及手機簡訊通知中獎者(請參加者自行於抽獎日前確認本活動網站上所留存的身分證字號及手機號碼之個人資訊均為正確，以確保收到中獎通知及獎品)。</li>
                            <li class="list">(2) 中獎者依中獎公告完成兌獎程序後，本活動獎品將於抽獎日之當月月底以限時掛號寄送至中獎者於Richart官方網站留存之聯絡地址，逾期未完成兌獎程序者，視同自動放棄中獎及兌獎資格。</li>
                        </ol>
                        <h4 class="info-title">
                            <svg class="svg-icon bone"><use xlink:href="@Url.Content("~/Content/svg/icon.svg")?svg=20170907#bone"/></svg>
                            <em class="text b-bold">注意事項</em>
                        </h4>
                        <ol class="order-list">
                            <li class="list">一、本活動之參加人限居住於臺、澎、金、馬地區且持有中華民國身分證之國民參加，且需年滿20歲，資料若有不實，將取消參加及中獎資格，主辦單位保留審核參加者參加活動與否之權利。</li>
                            <li class="list">二、本活動贊助費用：台新銀行將於活動期間結束後統計本活動贊助金額，並統一匯至社團法人臺灣巴克動物懷善救援協會之指定專戶，贊助社團法人臺灣巴克動物懷善救援協會購買飼料之費用。</li>
                            <li class="list">三、本活動每人僅限參加一次，已參加本活動「Richart新朋友方案」者，即不得領取用戶禮NT$300或再參加任何與Richart數位活儲帳戶其他涉及用戶禮之行銷推廣活動；若曾參加任何與Richart數位活儲帳戶用戶禮相關之行銷推廣活動者（如有登錄活動序號或R幣用戶禮序號者，以該序號登錄為準），即無法再參與本活動「Richart新朋友方案」。如果參加者於註冊Richart數位活儲帳戶前已加入R幣會員並累積R幣，註冊Richart數位活儲帳戶時請記得點選「放棄R幣」，這樣浪浪們才能順利地得到您的幫助唷！</li>
                            <li class="list">四、參加者已於本活動「Richart新朋友方案」之活動網站登錄者，如欲放棄參加本活動，須於成功完成註冊Richart數位活儲帳戶後3個工作天內告知台新銀行客服，放棄後即不適用本活動，並仍可領取用戶禮NT$300或獲得前已參加之Richart數位活儲帳戶同期行銷推廣活動回饋。</li>
                            <li class="list">五、本活動獎項發出前，若參加者已辦理Richart數位活儲帳戶之結清銷戶，則失去參加本活動及獲得獎品之資格。</li>
                            <li class="list">六、本活動每人僅享有一次中獎資格，活動獎項皆以實物或主辦單位公告為準，恕不提供交換、挑選、轉讓及折現，亦不得更換中獎者。</li>
                            <li class="list">七、參加者若為中華民國境內居住之個人，參加台新銀行活動所得贈品之年度總額超過新臺幣1,000元者，台新銀行將依各類所得扣繳率標準規定將贈品所得申報予國稅局。</li>
                            <li class="list">八、任何不可歸責於本行之事由，包含但不限於電腦、網路、電話、技術或硬體設備，而使參加活動者所登錄之資料有遺失、遲延、錯誤、毀損或無法辨識等情事產生，台新銀行不負任何法律與補償責任。</li>
                            <li class="list">九、本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，任何破壞活動進行、破壞網站管理者運作、違反網站管理使用條款者，如經主辦單位查證發現不法情形，主辦單位具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人主辦單位將追究其法律責任。</li>
                            <li class="list">十、參加者應保證所有填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料。如有不實或不正確之情事，將取消獲獎資格。如有致損害於台新銀行或其他第三人，參加者應負一切法律責任。</li>
                            <li class="list">十一、參加者提供資料對象為台新銀行，參加者同意提供個人資料予台新銀行於本活動目的範圍內蒐集處理及利用其個人資料。台新銀行將遵守個人資料保護法之規定，非經參加者之同意，不得將參加者之資料以任何方式提供予第三人蒐集、處理及利用，台新銀行所屬指定舉辦該活動之廠商亦同。</li>
                            <li class="list">十二、參加本活動即表示同意接受上述條款，若有違反者，主辦單位台新銀行有權取消參加者之參加及中獎資格。</li>
                            <li class="list">十三、本活動辦法與說明如有未盡事項，或有其他相關規定，台新銀行得於相關活動網站公告或補充之，並保留隨時修正、暫停、終止活動辦法及變更活動獎項內容之權利。</li>
                            <li class="list">十四、若對本活動有任何疑義，請撥打台新銀行Richart數位銀行24小時客服專線：(02)8798-9088 / 0800-888-800。</li>
                        </ol>
                    </div>
                </div>
            </div>
        </main>
    </div>
@section scripts{}